/* https://getbootstrap.com/docs/4.3/getting-started/theming/ */
$theme-colors: (
  "primary": #429abb,
);
$card-border-radius:                0px;

@import "bootstrap/scss/bootstrap";

html {
  font-size: 14px;
}

.home-jumbotron {
    background: url('/media/images/osd-header.jpg');
    background-size: cover;
    color: white;
    text-shadow: 1px 1px 1px #333;

    @media (min-width: 768px) {
        padding-top: 150px;
        min-height: 200px; 
    }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.home-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.logo {
    @media (max-width: 768px) {
        padding-left: 10px;
    }
}

.alert-top {
    background-color: #2C4D69;
}


