@import "bootstrap/scss/bootstrap";

html {
  font-size: 14px;
}

.home-jumbotron {
    background: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.2)),url('/media/images/sd.jpg');
    background-size: cover;
    color: white;
    text-shadow: 1px 1px 1px #333;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.home-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}


