body {
    font-family: "ff-tisa-web-pro",serif;
    font-size:18px;
    margin-bottom: 5em;
  }

h1#logo a {
  text-indent: -9999px;
  margin:15px 0 20px 0;
  font-size: .1em;
  display:block;
  width:100%;
  padding-top: 16%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url('/img/opensandiego-800-135.png');
  }

a {
  color:#5C9993;
}

a:hover {
  color:#9BC7C4;
}

p {
  font-size: 18px;
  margin:.5em 0 1em 0;
}

footer p {
  font-size: 13px;
  text-align: center;
}

header h2 {
  font-size: 120%;
  margin: 1.5em 0 2em 0;
}

img {max-width: 100%;}

header {
  margin-bottom: 2em;
}

hr {
  border: 0;
  height: 2px;
  background-color: #9BC7C4;
  margin:2em 0;
}

.content h2 {
  color:#555;
  margin:2em 0 0 0;
  line-height: 1.5;
  font-size: 18px;
  border-bottom: 2px solid #9BC7C4;
}

.content ul {
  margin:.5em 0 1em 0;
  padding: 0 0 0 1em;
}

.content ul li {
  margin:0 0 .5em 0;
}

.container > footer {
  margin-top: 80px;
  padding: 0 0 50px 0;
}
