<footer class="global-footer">
    <div class="grid-box">
        <div class="grid-item width-one-fourth">
          <h1 class="h3"><img class="header-icon-large" src="/media/images/sandiego_logo.png"/>City of {{site.title}}</h1>
            <div class="address">
                <p>San Diego, CA</p>
            </div>
            <p>© 2019 City of {{site.title}}</p>
        </div>
        <div class="grid-item width-one-third shift-one-twelfth">
          <div class="social-bar menu-bar">
                <a class="menu-item" href="#"><span class="fa fa-facebook-official"></span></a>   
                <a class="menu-item" href="#"><span class="fa fa-twitter"></span></a>
                <a class="menu-item" href="#"><span class="fa fa-envelope"></span></a>
            </div>
          <div class="grid-box footer-menu">
            <div class="menu grid-item width-one-half">
                    <a href="" class="menu-item">Get Involved</a>      
                    <a href="" class="menu-item">Projects</a>
                    <a href="" class="menu-item">About</a>
                    <a href="" class="menu-item">Contact</a>
                </div>
                <div class="menu grid-item width-one-half">
                    <a href="" class="menu-item">Code of Conduct</a>
                    <a href="" class="menu-item">Resources</a>
                    <a href="" class="menu-item">Github</a>
                    <a href="" class="menu-item">Slack</a>
                </div>
          </div>
        </div>

    <!--
    <div class="footer-mayor width-one-fourth shift-one-twelfth">
            <a href="#" class="menu-item">
                <img class="footer-mayor-image" src="/media/images/mayor.png" alt="Portrait of the mayor">
                <p><b>Our Mayor: Kevin Faulconer</b></p>
                <p>Vist the mayor's page</p>
            </a>

    </div>
    -->
    </div>
</footer>
