<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
    <div class="col-12 col-md">
      <span>&lt; 🌊/&gt;</span>
      <small class="d-block mb-3 text-muted">&copy; 2018-2019</small>
    </div>
    <div class="col-6 col-md">
      <h5>On the Web</h5>
      <ul class="list-unstyled text-small">
        <li>
          <i class="fa fa-meetup"></i>
          <a class="text-muted" href="https://www.meetup.com/Open-San-Diego/"
            >Meetup</a
          >
        </li>
        <li>
          <i class="fa fa-slack"></i>
          <a
            class="text-muted"
            href="https://osd-slack-auto-invite.herokuapp.com/"
            >Slack</a
          >
        </li>
        <li>
          <i class="fa fa-github"></i>
          <a class="text-muted" href="https://github.com/opensandiego"
            >Github</a
          >
        </li>
        <li>
          <i class="fa fa-twitter"></i>
          <a class="text-muted" href="https://twitter.com/OpenSanDiego"
            >Twitter</a
          >
        </li>
        <li>
          <i class="fa fa-instagram"></i>
          <a class="text-muted" href="https://www.instagram.com/opensandiego/"
            >Instagram</a
          >
        </li>
        {% comment %}
        <li>
          <i class="fa fa-linkedin"></i>
          <a class="text-muted" href="https://www.linkedin.com/company/open-san-diego/"
            >Instagram</a
          >
        </li>
        {% endcomment %}
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li>
          <a href="https://brigade.codeforamerica.org/" class="text-muted"
            >Code For America</a
          >
        </li>
        <li>
          <a href="{% link _pages/resources.md %}" class="text-muted"
            >San Diego Resources</a
          >
        </li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li>
          <a href="{% link code_of_conduct.md %}" class="text-muted"
            >Code of Conduct</a
          >
        </li>
        <li>
          <a href="{% link _pages/notes.html %}" class="text-muted"
            >Meeting Notes</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
