<header class="global-header">
  <div class="grid-box">
    <div class="grid-item width-one-whole">
<!-- <h1 class="global-header-title"><a href="#" class="button-toggle-sidebar"></a><a href="/">{{ site.title }} <span class="subtitle">Component Library</span></a></h1> -->
        <div class="align-left">
          <div class="global-header-logo">
            <a href="/">
              <img class="header-icon align-left" src="/media/images/opensandiego-logo-color.png" alt="Open San Diego Logo" />
              <!-- <p class="global-header-title align-left">{{ site.title }} <span class="subtitle">{{ include.section }}</span></p> -->
            </a>
          </div>
        </div>
        <div class="button-menu global-header-buttons align-right" role="navigation">
          <a class="menu-item button button-small button-primary" href="#" title="Donate">Donate</a>
          <a class="menu-item button button-small js-menu-button" href="{{ siteUrl }}donate" title="Open menu"><span class="fa fa-bars"></span> Menu</a>
        </div>

        <div class="width-one-whole global-header-navigation">
          <div class="bar-menu global-header-menu align-left" role="navigation">
            <a href="#" class="menu-item">About</a>
            <a href="#" class="menu-item">Get Involved</a>
            <a href="#" class="menu-item">Projects</a>
            <a href="#" class="menu-item">Contact</a>
          </div>
        </div>

        <!--
        <div class="bar-menu global-header-menu align-right" role="navigation">
            <a href="#" class="menu-item">Get Involved</a>
            <a href="#" class="menu-item">Get Involved</a>
        </div>
        -->

    </div>
  </div>
</header>
