{% include alert.html %}

<div
  class="d-flex flex-column flex-md-row align-items-center p-1 px-md-4 bg-white border-bottom shadow-sm header"
>
  <h5 class="my-0 mr-md-auto font-weight-normal logo">
    <a href="/" class="text-dark">
      <img
        height="50"
        src="/media/images/OSD_Logo.svg"
        alt="Open San Diego"
      />
    </a>
  </h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a
      class="p-2 text-dark"
      href="{% link _pages/get-involved.html %}"
      class="menu-item"
    >
      Get Involved
    </a>
    <a class="p-2 text-dark" href="{% link _pages/projects.md %}">
      Projects
    </a>
    <a class="p-2 text-dark" href="{% link _pages/contact.html %}">
      Contact
    </a>
    <a class="p-2 text-dark" href="{% link _pages/about.html %}">
      About
    </a>
    <a target="_blank" class="p-2 text-dark" href="https://www.codeforamerica.org/donate-to-a-brigade?utm_campaign=Open%20San%20Diego&utm_source=OpenSanDiegoSite">
      Donate 
    </a>
  </nav>
</div>
