{% include alert.html %}

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">
    <a href="/" class="logo text-dark">
        <img height="25" src="/media/images/opensandiego-logo-color.png" alt="Open San Diego" />
    </a>
  </h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="{% link get_involved.html %}" class="menu-item">
        <i class="fa fa-group"></i>
        Get Involved
    </a>
    <a class="p-2 text-dark" target="_blank" href="https://www.meetup.com/Open-San-Diego/">
        <i class="fa fa-calendar"></i>
        Events
    </a>
    <a class="p-2 text-dark" href="{% link projects.md %}">
        <i class="fa fa-bolt"></i> Projects
    </a>
    <a class="p-2 text-dark" href="{% link contact.html %}">
        <i class="fa fa-paper-plane"></i>
        Contact
    </a>
    <a class="p-2 text-dark" href="{% link about.md %}">
        <i class="fa fa-university"></i>
        About
    </a>
  </nav>
  <!--<a class="btn btn-outline-primary" href="#">Donate</a>-->

</div>


