<div style="width: 225px; margin: auto;" id="meetup_events"></div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"
<script>jQuery.noConflict();</script>
<script type="template/html" id="meetup_event_template">
  <!--
  <% data.forEach( function(event){ %>
    <div>
      <img src="<%= event.featured_photo.thumb_link %>" alt="<%= event.name %>" />
      <h5><%= event.name %></h5> - <%= event.local_date %>
    </div>
  <% });  %>
  -->
</script>
<script>
  // First we need a handler function
  function handleEventFeed(events){ 
     console.log(events); /* todo template events */ 
     var tpl = _.template($("#meetup_event_template").text());
     $("#meetup_events").html( tpl( events ) );
  }

  // Then trigger a JSONP request:
  jQuery.ajax({
      url:'https://api.meetup.com/Open-San-Diego/events?&sign=true&photo-host=public&page=2&fields=featured_photo&callback=handleEventFeed',
      dataType:"jsonp"
  });
</script>
