/* Override some defaults */
html, body {
  color:#4D4D4F;
  font-size: 16px;
}

a {
  color:#5C9993;
}

a:hover {
  color:#9BC7C4;
}

a h1#head_logo {
  display:block;
  width:400px;
  height:67px;
  margin-bottom: .5em;
  background-color: #000;
  background-image: url("../img/opensd-logo-400.png");
  text-indent: -1000px;
  border:none;
}

p {
  font-size: 16px;
  line-height: 1.4;
}

footer p {
  font-size: 13px;
}

.page-header h2 {
  font-size: 16px;  
}
.navbar {
  margin-bottom: 0;
}
.container > footer {
  margin-top: 20px;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.content {
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
}

/* Page header tweaks */
.page-header {
  background-color: #fff;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.topbar .btn {
  border: 0;
}


/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}
	