---
layout: base
---

<section class="jumbotron text-center home-jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="jumbotron-heading">We are Open San Diego</h1>
    <p class="mt-2">
      <a
        target="_blank"
        class="btn btn-primary"
        href="https://www.meetup.com/Open-San-Diego/"
        alt="Clicking this button will take you to our Meetup.com page where we post our events."
      >
        <i class="fa fa-meetup"></i> RSVP on Meetup
      </a>
      <a
        target="_blank"
        class="btn btn-primary"
        href="https://osd-slack-auto-invite.herokuapp.com/"
        alt="Clicking this button will auto-invite you to join our Slack group where we organize ourselves."
      >
        <i class="fa fa-slack"></i> Chat with us on Slack
      </a>
    </p>

    <p></p>
    <p>
      <a
        target="_blank"
        class="btn btn-primary"
        href="https://opensandiego.us3.list-manage.com/subscribe?u=d8f7c3e34f652446cb42a7feb&id=bedd4695f0"
        alt="Clicking this button will take you to a form to subscribe to our newsletter."
      >
        <i class="fa fa-envelope"></i> Subscribe to Email Updates
      </a>
    </p>
  </div>
</section>

<div class="container">
  <div class="row py-2">
    <div class="col-sm">
      <h2 class="display-4">Who we are.</h2>
      <p>
        We are San Diegans who believe data and technology can better serve
        citizens, sparking a more vibrant democracy and civic life. We treasure
        our communities and work together to bolster our public experience. We
        are a brigade of the national, non-partisan Code for America, leveraging
        their resources, but keenly focused on our improving local issues here
        at home.
      </p>
    </div>
  </div>

  <div class="row py-3">
    <div class="col-sm">
      <h2 class="display-4">The things we care about.</h2>
      <p>
        <b>Mission:</b> We strengthen San Diego citizens’ experience as among
        the best in the nation, by collaborating to create a more engaged,
        efficient, and effective democracy and civic life.
      </p>
      <p>
        <b>Vision:</b> A thriving regional San Diego ecosystem, whose people,
        environment, and economy are supported by seamlessly implemented data
        and technology.
      </p>
      <h3 class="display-5">Our Values:</h3>
      <ul>
        <li>
          We are human-centered, focused on being accepting and respectful of
          all people (learn more in our
          <a href="code_of_conduct.html">Code of Conduct</a>)
        </li>
        <li>
          We are data-informed, focused on opening up and utilizing public data
          to make better decisions (learn more about
          <a href="https://data.sandiego.gov/get-started/"
            >San Diego Gov Open Data</a
          >)
        </li>
        <li>
          We are non-partisan, focused on improving our shared public life
          (learn more about
          <a href="https://www.codeforamerica.org/values"
            >Code for America's Values</a
          >)
        </li>
      </ul>
    </div>
  </div>

  <div class="card-deck mb-3">
    <div class="card mb-4">
      <div class="card-body">
        <h2 class="card-title">Share your talents and ideas</h2>
        <p>
          We are a
          <a href="https://brigade.codeforamerica.org/"
            >Code for America Brigade</a
          >, which means we’re of, by, and for our community -
          <b><i>if you are in San Diego County, you belong!</i></b> We’re
          civic-minded volunteers with a variety of skills and experiences in
          community development, urban planning, non-profits, government,
          business, software development, design, data science and more! Whether
          your talents or ideas, you have something to contribute towards
          improving the way our local governments and community organizations
          work.
        </p>
        <a
          href="{% link _pages/get_involved.html %}"
          class="btn btn-lg btn-block btn-outline-primary"
          >Get Involved</a
        >
      </div>
    </div>
  </div>
  <div class="card-deck mb-3">
    <div class="card mb-4">
      <div class="card-body">
        <h2 class="card-title">Join our next Meetup</h2>
        {% include meetup_widget.html%}
      </div>
    </div>
    <div class="card mb-4">
      <div class="card-body">
        <h2 class="card-title">Tweet at us</h2>
        <a
          class="twitter-timeline"
          data-height="350"
          href="https://twitter.com/OpenSanDiego?ref_src=twsrc%5Etfw"
          >Tweets by OpenSanDiego</a
        >
        <script
          async
          src="https://platform.twitter.com/widgets.js"
          charset="utf-8"
        ></script>
      </div>
    </div>
  </div>
  <!-- card-deck -->

  <h2>Projects</h2>
  <div class="card-deck mb-3">
    {% for project in site.projects %} {% if project.featured %}
    <div class="card mb-4">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">{{ project.title }}</h4>
      </div>
      <div class="card-body">
        <p>
          {{ project.description }}
        </p>
        <p><a href="{{ project.url }}">Learn More</a></p>
      </div>
    </div>
    {% endif %} {% endfor %}
  </div>

  <h2>Code for America</h2>
  <div class="row">
    <div class="col-sm-7">
      <div class="embed-responsive embed-responsive-16by9 mb-3">
        <iframe
          class="youtube-iframe"
          src="https://www.youtube.com/embed/pTKJwFOgVuM"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <div class="col-sm-5">
      <img
        height="50px"
        src="/media/images/cfa_brigade_logo.png"
        alt="Code For America"
      />
      <p>
        We are a
        <a href="https://brigade.codeforamerica.org/" target="_blank"
          >Code for America Brigade</a
        >, which means we’re civic-minded volunteers of techies, creatives,
        business people and other civic-stakeholders that contribute our talents
        toward improving the way our local governments and community
        organizations work.
      </p>

      <p>
        <a href="http://brigade.codeforamerica.org/about" target="_blank"
          >See what kind of things brigades do</a
        >, and watch the
        <a
          href="https://www.ted.com/talks/jennifer_pahlka_coding_a_better_government"
          target="_blank"
        >
          TED talk given by Jennifer Pahlka, Founder of Code for America.</a
        >
      </p>
    </div>
  </div>

  {% include footer.html section="Footer" %}
</div>
