---
layout: base
---

<div class="home-header">
    <div class="grid-box">
        <div class="grid-item width-one-half shift-one-fourth">
            <h1>We Are Open San Diego</h1>
            <p>
We are a group of civic-minded San Diegans who meet regularly to learn how to best help citizens and local government have a more informed relationship with each other. Join the conversation and help if you can. We are also a <a href="https://brigade.codeforamerica.org">Code For America</a> brigade, and part of a national organization. Everyone is welcome at every skill level! 
            </p>
            <h3>We meet monthly. Join Us!</h3>
            <div>
                <a target="_blank" class="button button-primary" href="https://www.meetup.com/Open-San-Diego/">Meetup Schedule</a>
                <a target="_blank" class="button button-primary" href="https://osd-slack-auto-invite.herokuapp.com/">Join Us on Slack</a>
            </div>
        </div>
    </div>
</div>
<div class="page-content">
    <div class="grid-box">
        <article class="grid-item width-one-whole">
            {{ content }}
        </article>
    </div>
</div>
